.free {
  color: #339933 !important;
}
.close {
  color: #ef1c26 !important;
}
.hidden {
  display: none;
}
.item-blog__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 160px;
  height: 100%;
  background-color: #ff5107;
  overflow: hidden;
}
.item-blog__image img {
  min-width: 250px;
  max-width: 350px;
  width: 100%;
  height: auto;
}
.item-blog__image .material-icons {
  font-size: 90px;
}
.mark {
  color: #ff5107;
}
.selection {
  background-color: #ff5107;
}
strong {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
.button {
  display: inline-block;
  padding: 8px 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}
@-webkit-keyframes rotateLogo {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotateLogo {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
